@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.box {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.box::before {
  content: "";
  width: 300px;
  height: 300px;
  background: #ffd100;
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  animation: fill 3s ease-out infinite;
}

@keyframes fill {
  from {
    top:900px;
  }
  to{
    top: 0px;
  }
}

.scienza-ctr{
  width: 600px;
  height: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scienza{
  width: 100vw;
  height: 100vh;
  background-color: red;
  position: absolute;
  clip-path: polygon(288.0000000000% 0.0000000000%, 160.0000000000% 0.0000000000%, 128.0000000000% 0.0000000000%, 96.0000000000% 32.0000000000%, 128.0000000000% 64.0000000000%, 128.0000000000% 196.8000000000%, 118.5000000000% 230.3000000000%, 10.3000000000% 406.2000000000%, 0.0000000000% 442.6000000000%, 69.4000000000% 512.0000000000%, 378.6000000000% 512.0000000000%, 448.0000000000% 442.6000000000%, 437.7000000000% 406.2000000000%, 329.5000000000% 230.4000000000%, 320.0000000000% 196.9000000000%, 320.0000000000% 64.0000000000%, 352.0000000000% 32.0000000000%, 320.0000000000% 0.0000000000%, 288.0000000000% 0.0000000000%);

}